# root files
*.root

#BDT-optimization
bdt_cut_optimization/binBDT*

#datacards
*.txt

#swap files
*.swp
*/__pycache__/*

#plots
*.png
*.pdf

#log files
*combine_logger.out

# condor files
*jobs_report/
*cbasile.cc

#zip
*.tar.gz
